.title {
    width: 20vw;
    height: 12vw;
    margin: auto;
    background-image: url('../rubbleLogo.png');
    background-size: 100% 100%;
}

.main {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #787878;
    height: auto;
}

.header {
    height: 150px;
    background-color: #bbbbbb;
    color: black;
    width: 100%;
    padding-top: 32px;
    text-align: center;
}

.headContentArea {
    height: 102px;
    
}

.externalLogoHolder {
    height: 100%;
    padding-top: 35px;
    float: left;
}

.leftLogo {
    width: 25%;
}

.headTextHolder {
    width: 50%;
    float: left;
    min-width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headTextHolder p {
    -webkit-margin-before: 14px;
    -webkit-margin-after: 14px;
}

@media (min-width: 1025px) {
    .header {
        font-size: 1.5vw;
    }
}

.left {
    position: relative;
    right: 64px;
    margin-left: 100%;
}

.right {
    width: 64px;
    display: block;
    position: relative;
    left: 0px;
}

.content {
    margin: 5%;
}

.logo {
    width: 100%;
}

.footer {
    width: 100%;
    height: 200px;
    background-color: #787878;
    clear: both;
}

.footerLogo {
    width: 163px;
    height: 163px;
    position: relative;
    left: 50%;
    top: 18px;
    margin-left: -81.5px;
    border: solid black 1px;
}

.SEKpics {
    float: left;
    width: 47%;
    margin: 1.5% 0 5% 0;
}

.SEKblurb {
    float: right;
    width: 47%;
    padding: 0% 10%;
    box-sizing: border-box;
    line-height: 2;
}

.SEKblurb p {
    padding-bottom: 6%;
}

.gameName {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #787878;
    font-weight: bold;
    -webkit-margin-before: 0 !important;
}

.slides {
    display: none;
    width: 80%;
    margin-left: 10%;
    border: solid black 3px;
}

.previewHolder {
    width: 15%;
    float: left;
    padding: 0.6%;
}

.preview {
    width: 100%;
    border: solid black 2px;
}

.opacity,.hover-opacity:hover {
    opacity:0.60;
    -webkit-backface-visibility:hidden;
}

.opacity-off,.hover-opacity-off:hover {
    opacity:1;
    -webkit-backface-visibility:hidden
}