body {
    margin-bottom: 0;
}

.title {
    width: 25vw;
    height: 12vw;
    margin: auto;
    background-image: url('../rubbleLogoLarge.png');
    background-size: 100% 100%;
}

.main {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #787878;
    height: auto;
}

.titleBar {
    height: 150px;
    background-color: #bbbbbb;
    color: black;
    width: 100%;
    padding-top: 32px;
    text-align: center;
}

.headContentArea {
    height: 102px;
    
}

.externalLogoHolder {
    height: 100%;
    padding-top: 35px;
    float: left;
}

.leftLogo {
    width: 25%;
}

.headTextHolder {
    width: 50%;
    float: left;
    min-width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headTextHolder p {
    -webkit-margin-before: 14px;
    -webkit-margin-after: 14px;
}

@media (min-width: 1025px) {
    .titleBar {
        font-size: 1.45vw;
    }
}

.left {
    position: relative;
    right: 64px;
    margin-left: 100%;
}

.right {
    width: 64px;
    display: block;
    position: relative;
    left: 0px;
}

.content {
    margin: 2%;
}

.logo {
    width: 100%;
}

.footer {
    width: 100%;
    height: 185px;
    background-color: #787878;
    clear: both;
}

.footerLogo {
    width: 150px;
    height: 150px;
    position: relative;
    left: 50%;
    top: 12px;
    margin-left: -81.5px;
    border: solid black 1px;
}

.footerLogo img {
    width: 100%;
    height: 100%;
}

.copyright {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-align: center;
    color: black;
    font-weight: bold;
    -webkit-margin-before: 0 !important;
}

.SEKpics {
    float: left;
    width: 47%;
    margin: 0.5% 0 5% 0;
}

.SEKblurb {
    float: right;
    width: 47%;
    padding: 0% 6.5%;
    box-sizing: border-box;
    line-height: 2;
}

.SEKblurb p {
    padding-bottom: 6%;
}

.projectSectionTitle {
    font-size: 28px;
}

.gameName {
    width: 100%;
    -webkit-margin-before: 0 !important;
}

.gameStatus {
    font-size: 13px;
}

.slides {
    display: none;
    width: 80%;
    margin-left: 10%;
    border: solid black 3px;
}

.previewHolder {
    width: 15%;
    float: left;
    padding: 0.6%;
}

.preview {
    width: 100%;
    border: solid black 2px;
    cursor: pointer;
}

.opacity,.hover-opacity:hover {
    opacity:0.60;
    -webkit-backface-visibility:hidden;
}

.opacity-off,.hover-opacity-off:hover {
    opacity:1;
    -webkit-backface-visibility:hidden
}

.socialMediaButtons {
    position: absolute;
    top: 0px/*30px*/;
    right: 0px/*25px*/;
}

.smbHolder {
    margin: auto;
    padding-left: 1vh;
    padding-top: 1vh;
}

.social-slide {
	max-height: 48px;
	max-width: 48px/*2.52vw*/;
	height: 48px/*3.3vw*/;
	width: 48px/*3.3vw*/;
	margin: 0.5vw/*10px*/;
	float: left;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

.social-slide:hover {
    background-position: 0px 48px/*2.52vw*/;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}
.twitter-hover {
	background-image: url('../images/twitter-hover.png');
	background-size: 100% 200%;
}
.facebook-hover {
	background-image: url('../images/facebook-hover.png');
	background-size: 100% 200%;
}
.email-hover {
	background-image: url('../images/email-sprite.png');
	background-size: 100% 200%;
}
.blogger-hover {
	background-image: url('../images/blogger-hover.png');
	background-size: 100% 200%;
}

#mc_embed_signup {
    position: absolute;
    left: 5px;
    top: 85px;
    width: 25vw;
    min-width: 250px;
    background: #fff; 
    clear: left; 
    font: 14px 'Raleway', Arial, sans-serif; 
    display: none;
    border: solid black 1px;
    border-radius: 5px;
}

#signup-header {
    font-size: 24px;
    text-align: center;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0.5em;
    margin-left: 0;
}

.button {
    margin: 2px;
    font: 14px 'Raleway', Arial, sans-serif; 
}

.indicates-required {
    margin-bottom: 15px;
}

#mce-EMAIL {
    width: 60%;
}

#signupButton {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #787878;
    border: solid black 1px;
    border-radius: 5px;
    margin: 10px 2px;
    cursor: pointer;
    background-color: white;
    width: 150px;
    position: absolute;
    left: 5px;
    top: 0px;
}