html {
    height: 100%;
    box-sizing: border-box; /*needs testing before implemetation */
}

body { margin: 0px; }

::selection {
    color: white;
    background: #787878;
}

a:hover { opacity:0.60; }

/*header and links*/

.title {
    width: 25vw;
    min-width: 400px;
    height: 12vw;
    min-height: 192px;
    margin: auto;
    background-size: 100% 100%;
}

.logo { width: 100%; }

.socialMediaButtons {
    position: absolute;
    top: 0px/*30px*/;
    right: 0px/*25px*/;
}

.smbHolder {
    margin: auto;
    padding-left: 1vh;
    padding-top: 1vh;
}

.social-slide {
-webkit-transition: all ease 0.3s;
   -moz-transition: all ease 0.3s;
     -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
        transition: all ease 0.3s;
	max-height: 48px;
	max-width: 48px/*2.52vw*/;
	height: 48px/*3.3vw*/;
	width: 48px/*3.3vw*/;
	margin: 0.5vw/*10px*/;
	float: left;
}

.social-slide:hover {
    background-position: 0px 48px/*2.52vw*/;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
	opacity: 1;
}
.twitter-hover {
	background-image: url('../images/twitter-hover.png');
	background-size: 100% 200%;
}
.facebook-hover {
	background-image: url('../images/facebook-hover.png');
	background-size: 100% 200%;
}
.email-hover {
	background-image: url('../images/email-sprite.png');
	background-size: 100% 200%;
}
.blogger-hover {
	background-image: url('../images/blogger-hover.png');
	background-size: 100% 200%;
}

#mc_embed_signup {
    position: absolute;
    left: 5px;
    top: 85px;
    width: 25vw;
    min-width: 250px;
    background: #fff; 
    clear: left; 
    font: 14px 'Raleway', Arial, sans-serif; 
    display: none;
    border: solid black 1px;
    border-radius: 5px;
    background-color: #aec6cf;
}

#signup-header {
    font-size: 24px;
    text-align: center;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0.5em;
    margin-left: 0;
}

.button {
    margin: 2px;
    font: 14px 'Raleway', Arial, sans-serif; 
}

.indicates-required { margin-bottom: 15px; }

#mce-EMAIL { width: 60%; }

#signupButton {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #787878;
    border: solid black 1px;
    border-radius: 5px;
    margin: 10px 2px;
    cursor: pointer;
    background-color: white;
    width: 150px;
    position: absolute;
    left: 5px;
    top: 0px;
}

/*main content*/

.main {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #787878;
    height: auto;
}

.titleBar {
    height: 8vw;
    min-height: 130px;
    background-color: #bbbbbb;
    color: black;
    width: 100%;
    text-align: center;
}

@media (min-width: 1025px) {
    .titleBar { font-size: 1.45vw; }
}

@media (max-width: 920px) {
    .titleBar { font-size: 1.75vw; }
}

.headContentArea { 
    height: 8vw; 
    min-height: 130px;
}

.externalLogoHolder {
    height: 100%;
    padding-top: 35px;
    float: left;
    box-sizing: border-box;
}

.leftLogo { width: 25%; }

.headTextHolder {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headTextHolder p {
    -webkit-margin-before: 14px;
    -webkit-margin-after: 14px;
}

.left {
    position: relative;
    right: 64px;
    margin-left: 100%;
    width: 4vw;
    min-width: 64px;
}

.right {
    width: 4vw;
    min-width: 64px;
    display: block;
    position: relative;
    left: 0px;
}

.content { 
    margin-bottom: 2%; 
}

.tabHeader {
    width: 33.1%;
    float: left;
    border: solid black 1px;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

.underConstruction {
    width: 100%;
    margin: 12% auto;
    float: left;
}

.tabNotUsed {
    border-bottom: solid black 1px;
    background-color: #eeeeee;
}

.salesPitchHolder {
    clear: both;
}

.salesPitchText {
    font-weight: bold; 
    font-size: 18px;
    margin: 0%;
    padding-top: 1%;
}

.tabNotUsed a, .salesPitchText a {
    text-decoration: none;
    color: #787878;
}

.SEKpics {
    clear: both;
    float: left;
    width: 47%;
    margin: 2.5% 0 2.5% 0;
}

.freelanceSection {
    clear: both;
    float: left;
    width: 47%;
    box-sizing: border-box;
    padding: 2.5% 5% 4% 5%;
}

.fcRight {
    float: right;
    width: 47%;
    box-sizing: border-box;
    padding: 2.5% 5% 4% 5%;
}

.fcRight h2, .freelanceSection h2 {
    margin-block-start: 0.1em;
    margin-block-end: 1.5em;
}

.blurb {
    float: right;
    width: 47%;
    padding: 2% 6.5%;
    box-sizing: border-box;
    line-height: 2;
}

.blurb p { padding-bottom: 6%; }

.freelanceSection p, .fcRight p { padding-bottom: 1.5%; }

.quote { 
    font-size: 23px; 
    font-weight: bold;
}

.projectSectionTitle { font-size: 28px; }

.gameName {
    width: 100%;
    -webkit-margin-before: 0 !important;
}

.gameNameISS {
    height: 100%;
    -webkit-margin-before: 0 !important;
}

.gameStatus { font-size: 13px; }

.ZCAslides {
    display: none;
    width: 92%;
    height: auto;
    margin-left: 4%;
    border: solid black 3px;
}

.SEKslides, .POPslides {
    display: none;
    width: 80%;
    height: auto;
    margin-left: 10%;
    border: solid black 3px;
}

.ISSslides {
    display: none;
    width: auto;
    height: 60%;
    margin-left: 10%;
    border: solid black 3px;
}

.previewHolder {
    width: 15.35%;
    float: left;
    padding: 0.6%;
}

.preview {
    width: 100%;
    border: solid black 2px;
    cursor: pointer;
}

.opacity,.hover-opacity:hover {
    opacity:0.60;
    -webkit-backface-visibility:hidden;
}

.opacity-off,.hover-opacity-off:hover {
    opacity:1;
    -webkit-backface-visibility:hidden
}

.googlePlayBadge { width: 60%; }

.googlePlayBadge:hover {
    opacity:0.75;
}

.mfLogo {
    width: 75%;
    margin-top: 1%;
    margin-bottom: 4%;
}

.mfLogo:hover {
    opacity:0.75;
}

.freelanceScreenshot {
    width: 60%;
}

.freelanceScreenshot:hover {
    opacity:0.75;
}

#SEK { clear: both; }

/*footer*/

.footer {
    width: 100%;
    height: 185px;
    background-color: #bbbbbb;
    clear: both;
}

.footerLogo {
    width: 150px;
    height: 150px;
    position: relative;
    left: 50%;
    top: 12px;
    margin-left: -81.5px;
    border: solid black 1px;
}

.footerLogo img {
    width: 100%;
    height: 100%;
}

.copyright {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-align: center;
    color: black;
    font-weight: bold;
    -webkit-margin-before: 0 !important;
}

.hireUs {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-align: center;
    color: white;
    -webkit-margin-after: 0em;
}

.hireUsHolder {
    position: relative;
    top: -40%;
    width: 20%;
    float: right;
}
